numpy==2.2.4
pandas==2.2.3
plotly==6.0.1
groq==0.22.0
streamlit==1.44.1
streamlit-mic-recorder==0.0.8
SQLAlchemy==2.0.40
python-dotenv==1.1.0
streamlit-plotly-events==0.0.6
psycopg2-binary==2.9.10
pandasql==0.7.3
pytz==2024.1
